.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  padding: 20px;
}

.info {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.info .presentation {
  flex-grow: 7;
}

.info p {
  margin-bottom: 40px;
}

.info .avatar {
  flex-grow: 3;
}

.btnPrimary {
  background-color: #466BC2;
  padding: 8px 16px;
  border-radius: 8px;
}

.btnPrimary:hover {
  background-color: #334F8F;
}
