.rrss {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.absolute {
  position: absolute;
  bottom: 30px;
}

.rrss.hide {
  display: none;
}